*{
    padding: 0;
    margin: 0;
}

.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

  /* shared css */

  .intro-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
}

.intro-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
    opacity: 0.7;
}

/* hero section */

#hero{
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    height: 652px;
    left: 0;
    right: 0;
    top: 1px;
    bottom: 4462px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner{

    width: 998px;
    height: 582px;
    left: 221px;
    right: 221px;
    top: 157px;
    bottom: 4506px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.hero-title{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}

.hero-description{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.hero-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 208px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    cursor: pointer;
}
.hero-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* web dev section */

#web-dev{
    max-width: 946px;
    height: 1135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 90px;
    margin: 0 auto;
}

.intro{
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}



.display-box{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.display-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
}

.display-text{
    flex-basis: 60%;
}
.display-img{
    flex-basis: 40%;
    margin-left: 70px;
}

.web-btn{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin: 32px 0px;
    padding: 12px 20px 12px 20px;
    width: 150px;
    height: 48px;
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}

.display-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

/* inspiration section */

.inspiration{
    max-width: 1140px;
    max-height: 775px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin: 70px auto 0;
}

.video{
    border-radius: 10px;
    padding: 20px;
}

/* section target */

.target{
    max-width: 1140px;
    height: 460px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.target-contents{
    display: flex;
}
.target-content{
    flex-basis: 33%;
    padding: 40px;
}

.target-title{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0px;
}

.target-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin: 8px 0px;
}

.target-btn a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin: 24px 0px;
}

.content-html{
    background: rgba(255, 76, 30, 0.05);
}

.content-css{
    background: rgba(0, 76, 232, 0.05);
}

.content-js{
    background: rgba(255, 223, 0, 0.05);
}

/* section extra */

.extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 120px;
    background: rgb(255, 255, 255);
    margin: 0 150px;
}

.resume-btn{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;

}

.extra a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    }

.name{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

/* section support */

.support{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    padding: 50px 0;
}

.input-text{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    width: 450px;
    height: 57px;
    margin: 0px 16px;
}

.submit{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin: 0px 16px;
    padding: 17px 20px 17px 20px;
    width: 120px;
    height: 57px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}


/* footer section */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 32px 150px 32px 150px;
}

.footer-text{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}



